In [2]:
import pandas as pd
import numpy as np

In [3]:
def get_data(path):
    try:
        data = pd.read_csv(path)
        df = pd.DataFrame(data)
    except Exception as e:
        print(e)
    return df

In [4]:
calendar_10_03 = get_data('../airbnb_data_vienna/csv/calendar_10_03.csv')
calendar_07_06 = get_data('../airbnb_data_vienna/csv/calendar_07_06.csv')
calendar_11_09 = get_data('../airbnb_data_vienna/csv/calendar_11_09.csv')

In [46]:
print(calendar_11_09['listing_id'].isnull().any())
print(calendar_11_09['date'].isnull().any())
print(calendar_10_03['date'].isnull().any())
print(calendar_07_06['date'].isnull().any())
print(calendar_11_09['available'].isnull().any())
print(calendar_11_09['price'].isnull().any())
print(calendar_11_09['adjusted_price'].isnull().any())
print(calendar_11_09['minimum_nights'].isnull().any())
print(calendar_11_09['maximum_nights'].isnull().any())
calendar_10_03.head()

False
False
False
False
False
False
False
True
True

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,15883.0,2022-03-11,0,110,$110.00,1,365
1,15883.0,2022-03-12,1,110,$110.00,1,365
2,15883.0,2022-03-13,1,110,$110.00,1,365
3,15883.0,2022-03-14,1,110,$110.00,1,365
4,15883.0,2022-03-15,1,110,$110.00,1,365

In [26]:
#change price str to int
calendar_11_09['price'] = calendar_11_09['price'].str.replace('$', '').str.replace(',','')
calendar_11_09['price'] = calendar_11_09['price'].astype('float').round(decimals=0)
calendar_11_09['price'] = calendar_11_09['price'].astype('Int64')
calendar_10_03['price'] = calendar_10_03['price'].str.replace('$', '').str.replace(',','')
calendar_10_03['price'] = calendar_10_03['price'].astype('float').round(decimals=0)
calendar_10_03['price'] = calendar_10_03['price'].astype('Int64')
calendar_07_06['price'] = calendar_07_06['price'].str.replace('$', '').str.replace(',','')
calendar_07_06['price'] = calendar_07_06['price'].astype('float').round(decimals=0)
calendar_07_06['price'] = calendar_07_06['price'].astype('Int64')

C:\Users\Jernej\AppData\Local\Temp\ipykernel_9900\2752339981.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  calendar_11_09['price'] = calendar_11_09['price'].str.replace('$', '').str.replace(',','')

In [47]:
#change adjusted_price str to int
calendar_11_09['adjusted_price'] = calendar_11_09['adjusted_price'].str.replace('$', '').str.replace(',','')
calendar_11_09['adjusted_price'] = calendar_11_09['adjusted_price'].astype('float').round(decimals=0)
calendar_11_09['adjusted_price'] = calendar_11_09['adjusted_price'].astype('Int64')
calendar_10_03['adjusted_price'] = calendar_10_03['adjusted_price'].str.replace('$', '').str.replace(',','')
calendar_10_03['adjusted_price'] = calendar_10_03['adjusted_price'].astype('float').round(decimals=0)
calendar_10_03['adjusted_price'] = calendar_10_03['adjusted_price'].astype('Int64')
calendar_07_06['adjusted_price'] = calendar_07_06['adjusted_price'].str.replace('$', '').str.replace(',','')
calendar_07_06['adjusted_price'] = calendar_07_06['adjusted_price'].astype('float').round(decimals=0)
calendar_07_06['adjusted_price'] = calendar_07_06['adjusted_price'].astype('Int64')

C:\Users\Jernej\AppData\Local\Temp\ipykernel_9900\2833606620.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  calendar_11_09['adjusted_price'] = calendar_11_09['adjusted_price'].str.replace('$', '').str.replace(',','')
C:\Users\Jernej\AppData\Local\Temp\ipykernel_9900\2833606620.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  calendar_10_03['adjusted_price'] = calendar_10_03['adjusted_price'].str.replace('$', '').str.replace(',','')
C:\Users\Jernej\AppData\Local\Temp\ipykernel_9900\2833606620.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  calendar_07_06['adjusted_price'] = calendar_07_06['adjusted_price'].str.replace('$', '').str.replace(',','')

In [35]:
#transform id to float
calendar_10_03 = calendar_10_03.astype({'listing_id':float})
calendar_11_09 = calendar_11_09.astype({'listing_id':float})
calendar_07_06 = calendar_07_06.astype({'listing_id':float})

In [45]:
#transform float to id
calendar_10_03 = calendar_10_03.astype({'minimum_nights':'Int64', 'maximum_nights':'Int64'})
calendar_07_06 = calendar_07_06.astype({'minimum_nights':'Int64', 'maximum_nights':'Int64'})
calendar_11_09 = calendar_11_09.astype({'minimum_nights':'Int64', 'maximum_nights':'Int64'})

In [36]:
# host_is_superhost transform to boolean 1 and 0, null values stay
calendar_10_03['available'] = calendar_10_03['available'].replace({'t': '1', 'f':'0'})
calendar_10_03['available'] = pd.to_numeric(calendar_10_03['available'], errors='coerce')
calendar_07_06['available'] = calendar_07_06['available'].replace({'t': '1', 'f':'0'})
calendar_07_06['available'] = pd.to_numeric(calendar_07_06['available'], errors='coerce')
calendar_11_09['available'] = calendar_11_09['available'].replace({'t': '1', 'f':'0'})
calendar_11_09['available'] = pd.to_numeric(calendar_11_09['available'], errors='coerce')

In [49]:
# Save to csv
calendar_10_03.to_csv('../airbnb_data_vienna/csv/calendar_10_03.csv', header=calendar_10_03.columns, index=False, encoding='utf-8')
calendar_07_06.to_csv('../airbnb_data_vienna/csv/calendar_07_06.csv', header=calendar_07_06.columns, index=False, encoding='utf-8')
calendar_11_09.to_csv('../airbnb_data_vienna/csv/calendar_11_09.csv', header=calendar_11_09.columns, index=False, encoding='utf-8')